/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
  background-color: #ececec;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
  color: darkblue;
}

.top {
  margin-top: 100px;
}

.btn-primary {
  padding: 0.8rem 2rem;
  border: 1px solid #e6e3dd;
  border-radius: 6px;
  background: #b7a7a5;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.inner-container {
  max-width: 1170px;
  background: #fff;
  margin: 2rem auto;
}
