<div class="score">Your result is: {{ quizScore }}% </div>
<div class="register-score">
  <form  novalidate #score="ngForm" (ngSubmit)="registerScore(score)">
    <div>
      <input type="text" autocomplete="off" placeholder="Name" [(ngModel)]="name" name="username">
      <p>Register Your Score?</p><button type="submit" class="btn-register">Yes, Register!</button>
    </div>
  </form>

</div>
<div>
  <button class="btn-home btn-primary" routerLink="/">BACK TO HOME</button>
  <button class="btn-scores btn-primary" routerLink="/leaderboard">Leaderboard</button>
</div>
