<div class="text-center top">
    <h1>Quiz App</h1>
</div>
<div class="home inner-container text-center">
    <h2 class="title">Do you think you are smart enough?</h2>
    <p>You will have 1 minute to answer 10 questions.</p>
    <button class="btn-start btn-primary" routerLink="/quiz">Start Quiz</button>
    <button class="btn-scores btn-primary" routerLink="/leaderboard">Leaderboard</button>
</div>
