.question-index {
  padding-bottom: 1rem;
}
.question {
  font-size: 1.25rem;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 1rem;
  margin: 0 0 1rem 0;
  background: #fafafa;
}
.option {
  padding: 10px 20px;
  margin: 5px 0px;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 6px;
  background: #fff;
}
.option:hover {
  background: #eee;
}
.option.active {
  background: #34a9ce;
  color: #fff;
  font-weight: bold;
}
.navigation {
  margin-top: 1rem;
}
.finish-quiz {
  font-weight: bold;
}
/* Modal */
.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.7);
}
.modal {
  position: absolute;
  width: 50%;
  min-width: 320px;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  padding: 2rem 0;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
}
.modal-title {
  font-size: 2rem;
  margin-top: 0;
}
.check-results {
  margin-top: 1rem;
}
